:host {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

h1 {
  margin: 0;
  font-size: 1.5rem;
  color: white;
}
nav a {
  margin: 0 1rem;
  color: white;
  text-decoration: none;
}

nav span.note-count-badge {
  background-color: #007bff;
  color: white;
  padding: 0.2rem 0.5rem;
  border-radius: 0.5rem;
  font-size: 0.9rem;
}